<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/B23DCCC121_NguyenHuuNam/src/Bai_tap_4/bai_tap.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Bai_tap_4.bai_tap"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="B23DCCC121_NguyenHuuNam"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="B23DCCC121_NguyenHuuNam"/>
</launchConfiguration>
